<div class="movie-detail">
<div class="row">
  <div class="col-md-8">
    <h1>{{movie.title}}</h1>
    <p><strong>MPAA Rating: </strong>{{movie.mpaa_rating}}</p>
    <p><strong>Runtime: </strong>{{movie.runtime}} mins</p>
  </div>
  <div class="col-md-4">
    <img src="{{movie.thumbnail}}" alt="{{movie.title}}" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><strong>Synopsis: </strong> {{movie.synopsis}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><strong>Critics Comments:</strong> {{movie.critics_consensus}}</p>
  </div>
</div>
</div>

