

      <table ng-controller="rentalController">
        <colgroup>
          <col/>
          <col width="50%" align="left"/>
          <col width="10%"/>
          <col width="20%"/>
          <col width="10%"/>
          <col width="10%"/>
        </colgroup>
        <tr>
          <th>S.No.</th>
          <th>Title</th>
          <th>Year</th>
          <th>MPAA Rating</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-model="movielist" ng-repeat="movie in movielist">
          <td>{{$index+1}}</td>
          <td><a href="{{movie.id}}">{{movie.title}}</a></td>
          <td>{{movie.year}}</td>
          <td>{{movie.mpaa_rating}}</td>
          <td><a class="btn btn-success" href="/{{movie.id}}">Edit</a></td>
          <td><a class="btn btn-danger" href="#">Delete</a></td>
        </tr>
      </table>

   
