<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Movie Rentals</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table ng-controller="rentalController">
        <colgroup>
          <col width="50%">
          <col width="10%">
          <col width="20%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>MPAA Rating</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="movie in movielist">
          <td><a href="{{movie.id}}">{{movie.title}}</a></td>
          <td>{{movie.year}}</td>
          <td>{{movie.mpaa_rating}}</td>
          <td><a href="/{{movie.id}}">Edit</a></td>
          <td><a href="#">Delete</a></td>
        </tr>
      </table>

    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
